.con{
background-color: grey;
display: flex;
justify-content: center;
width: 280px;
border-radius: 5px;
float: right;
z-index: 100;
top: 0px;
right: 0px;
position: fixed;
}
.inp{
border: 2px;
border-radius: 5px;
margin-top: 3px;
margin-bottom: 3px;
border-color: red;
}
.bot{
color: green;
border: 2px;
border-color: red;
border-radius: 5px;
margin-top: 3px;
margin-bottom: 3px;
}