body {

  background-color: lightblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}
.jumbotron{
  display: flex;
  height: 5px;
  background-color: rgb(0, 140, 255);
}
.container{
  align-self: center;
 

}
.display-4{
  text-decoration-color: black;
}